{% extends "base.html" %}

{% block title %}Healthy | Контакты{% endblock %}

{% block content_class %}main{% endblock %}

{% block content %}
    <h1>Контакты</h1>
    <h2>Единая горячая линия: +7(812)-444-22-22</h2>
    <h2>Электронная почта: info@healthy.com</h2>
    <h2>Адрес главного офиса: Санкт-Петербург, Спортивная улица 2, 197110</h2>
    <h2>Режим работы главного офиса: Пн-Пт 8:00-20:00, Сб-Вс 9:00-18:00</h2>
    <h2>Социальные сети: <a href="https://www.youtube.com" target="_blank" class="soc-links">YouTube,</a>
        <a href="https://www.instagram.com" target="_blank" class="soc-links">Instagram,</a>
        <a href="https://www.facebook.com" target="_blank" class="soc-links">Facebook,</a>
        <a href="https://www.x.com" target="_blank" class="soc-links">X</a>
    </h2>
{% endblock %}