{% extends 'base.html' %}

{% block title %}Healthy | Регистрация{% endblock %}

{% block content_class %}content_form{% endblock %}
{% block content %}


<div class="form-container">
    <h1 class="top_form">Регистрация</h1>

    <form method="POST">
        {{ form.hidden_tag() }}

        <div class="form_field">
            {{ form.first_name.label }}
            {{ form.first_name(class="form-input", placeholder="Имя") }}
        </div>

        <div class="form_field">
            {{ form.last_name.label }}
            {{ form.last_name(class="form-input", placeholder="Фамилия") }}
        </div>

        <div class="form_field">
            {{ form.patronymic.label }}
            {{ form.patronymic(class="form-input", placeholder="Отчество") }}
        </div>

        <div class="form_field">
            {{ form.email.label }}
            {{ form.email(class="form-input", placeholder="Электронная почта") }}
        </div>

        <div class="form_field">
            {{ form.password.label }}
            {{ form.password(class="form-input", placeholder="Пароль") }}
        </div>

        <div class="btn_div">
            {{ form.submit(class="form_btn") }}
        </div>
    </form>
    <div class="log_to_reg">
        <p>Уже есть аккаунт? <a href="/login">Войти.</a></p>
    </div>
</div>

{% endblock %}